// === COLOR ===
$body-color: #282828;
$text-size: 40px;
$label-bkg-color: #8ae5ce;
$label-color: #2c303d;
$action-bkg-color: #8ae6cf;

// === FONTS ===
$body-font: "Open Sans", Arial, sans-serif;
$title-font: "Oswald", Arial, sans-serif;
$text-bold: 700;
$title-font-size: 12px;

// === WIDTH ===
$product-list-desktop-width: 835px;
$product-list-tablet-width: 720px;
$shell-padding-top: 50px;
$shell-padding-left: 60px;
$content-width: 960px;